h1, h2, h3, h4, h5, h6, p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

.header__container {
  padding: 20px;
  text-align: center;
}

.header__container img {
  width: 220px;
}

.header__container h1, .header__container h2 {
  color: white;
  text-align: center;
}

#h__desc {
  font-weight: 500;
  font-size: 24px;

}

#h__title {
  font-size: 48px;
  margin-top: 10px;
}

#h__date {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.apply {
  min-width: 150px;
  height: 50px;
  background-color: #EF3E4A;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-top: 10px;
}

.about__container {
  padding: 20px;
  background-color: rgb(227,44,64, .9);
  color: white;
  margin: 10px;
  border-radius: 15px;
}

.about__container h1 {
  text-align: center !important;
}

#a__desc {
  font-weight: 400;
  letter-spacing: .5px;
}

.ready__container {
  margin: 10px;
  padding: 20px;
  background-color: rgb(227,44,64, .9);
  color: white;
  text-align: center;
  border-radius: 15px;
}

.r__apply {
  background-color: white;
  color: #EF3E4A;
  width: 200px;
  height: 60px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  border-radius: 5px;
  font-size: 24px;
  border: none;

}

.team__container {
  margin: 10px;
  padding: 20px;
  background-color: rgb(227,44,64, .9);
  color: white;
  text-align: center;
  border-radius: 15px;
}

.team__container img {
  width: 50px;
  height: 50px;
  border: 1px white solid;
  margin: 5px;
}

.faq__container {
  background-color: rgb(91,91,91, .9);
  margin: 10px;
  padding: 20px;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.faq__one {
  border: 2px white solid;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.faq__big {
  border: 2px white solid;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 250px;
  display: inline-block;
  margin: 10px;
}

.answer {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
}

.question {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

#expand {
  background-color: white;
  color: #EF3E4A;
  border-radius: 8px;

}

#expand__big {
  background-color: white;
  color: #EF3E4A;
  border-radius: 8px;

}

.help__container {
  padding: 20px;
  color: white;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(91,91,91, .9);

}

.help__containerbig {
  padding: 20px;
  color: white;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(91,91,91, .75);
}

.help__container p {
  margin: 0;
  margin-top: 5px;
}

.help__containerbig p {
  margin: 0;
  margin-top: 5px;
}

.partner img {
  width: 200px;
  height: auto;
}

.additionalhelp img {
  width: 120px;
}

.partner {
  margin-bottom: 50px;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.partner__big img {
  width: 320px;
  height: auto;
}

.partner__big {
  margin-bottom: 50px;
  cursor: pointer;
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}

.partner__big a {
  text-decoration: none;
  color: white;
}

.partner a {
  text-decoration: none;
  color: white;
}

.navbar__container {
  background-color: #353535;
  position: fixed;
  top: 0;
}

.schedule__container {
  margin: 10px;
  padding: 20px;
  background-color: rgb(91,91,91, .9);
  color: white;
  text-align: center;
  border-radius: 15px;
}

.schedule__container table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.schedule__container table, .schedule__container td {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  border: 1px white solid;
	border-collapse: collapse;
}
