/* All */

#website-container {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5) ), url('https://amacincinnati.org/wordpress/wp-content/uploads/2016/08/AdobeStock_70819697.jpeg');
}


h1, h2, h3, h4, h5, h6, p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

/* NavBar */

#nav-bar {
	height: 6.5%;
	box-sizing: border-box;
}

#nav-logo-container {
	float: left;
	width: 30%;
	height: 100%;
}

#tabs-container {
	margin-left: auto;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
}

.tab {
	width: 120px;
	text-align: center;
	color: #EF3E4A;
	box-sizing: border-box;
	border: 1px solid transparent;
	text-decoration: none;
	margin-top: 20px;
}


.tab p {
	margin: 0;
}

.tab:hover {
	color: white;
	cursor: pointer;
	transition: color .3s;
}

.tab__apply {
	background-color: white;
	border-radius: 10px;
	padding: -1px;
	padding: 5px;
	margin-top: -5px;
}

.tab__apply:hover {
	transition: color .3s, background-color .3s, box-shadow .3s;
	background-color: #EF3E4A;
	color: white;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Header */

#header-container img {
  width: 220px;
}

#title {
	text-align: center;
	color: white;
}

#title h1 {
	font-size: 50px;
}

#ch-icons {
	font-size: 30px;
}

.register-btn {
	font-size: 25px;
	background-color: #e32c40;
	border: 2px solid #e32c40;
	border-radius: 10px;
	color: white;
	height: 50px;
	width: 200px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

.register-btn:hover {
	transition: color .3s, background-color .3s, box-shadow .3s;
	background-color: #af1526;
	cursor: pointer;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* About */

#about-container {
	background-color: rgb(227,44,64, .7);
	padding: 40px;
	border: 1px solid transparent;
	text-align: center;
	border-radius: 20px;
	margin: 20px;
}

#about-container h1 {
	color: white;
	font-size: 40px;
}

#about-paragraphs {
	margin: auto;
	color: white;
	font-size: 20px;
	letter-spacing: .7px;
	text-align: left;
}

#about-paragraphs a {
	color: white;
}

.ch-pics {
	width: 20vw;
	margin: 10px;
}

/* FAQs */

#faqs-container {
	background-color: rgb(91,91,91, .7);
	color: white;
	border: 1px solid transparent;
	border-radius: 20px;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

#faqs-container h1 {
	text-align: center;
	font-size: 40px;
}

.faq {
	width: 250px;
	min-height: 250px;
	text-align: center;
	padding: 15px;
	margin: 10px;
	border: 2px solid white;
	border-radius: 15px;
	display: inline-block;
	vertical-align: top;
}

.faq p {
	text-align: left;
	margin: 0;
	margin-top: 15px;
	letter-spacing: .6px;
}

.faq h3 {
	margin: 0;
	margin-bottom: 15px;
	letter-spacing: .7px;
}

/* Schedule */

#schedule-container {
	background-color: rgb(91,91,91, .7);

	padding: 40px;
	border: 1px solid transparent;
	text-align: center;
	border-radius: 20px;
	margin: 20px;
	color: white;

}

#schedule-container table, #schedule-container td {
	border: 1px white solid;
	border-collapse: collapse;
}

#schedule-container table {
	font-size: 18px;
	display: inline-block;
	margin: 10px 20px;
	vertical-align:top;
	width: 410px;
}

#schedule-container tr, #schedule-container caption {
	width: 410px;
}

#schedule-container .scroller {
	margin-bottom: 20px;
}

#schedule-container td {
	padding: 5px;
}

#schedule-container .table__header {
	padding: 10px;
	font-weight: bold;
	letter-spacing: 1px;
}

#schedule-container caption h3 {
	letter-spacing: 1px;
}

/* Help */

#help-container {
	text-align: center;
	color: white;
	border: 1px solid transparent;
	border-radius: 20px;
	margin: 20px;
	background-color: rgb(91,91,91, .7);
}

.big-logo {
	height: 200px;
	margin: 20px;
}

.medium-logo {
	height: 80px;
	margin: 20px;
}

/* Team */

#team-container {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #e32c40;
	color: white;
	background-color: rgb(227,44,64, .7);
	border-radius: 20px;
	margin: 20px;
}

#team-container h1 {
	font-size: 40px;
}

.team__member {
	width: 150px;
	min-height: 150px;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border-radius: 15px;
	font-weight: 400;
	vertical-align: top;
}

.team__member img {
	width: 150px;
	border-radius: 10px;
}

.overlay {
	display: none;
}

.icon {
	color: #bababa;
	margin-left: 2px;
	margin-right: 2px;
}

.icon:hover {
	color: white;
}

/* Register */

#register-container {
	background-color: rgb(227,44,64, .7);
	color: white;
	padding-top: 20px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 20px;
	margin: 20px;
}

#register-container h1 {
	font-size: 50px;
}

#register-container button {
	margin-bottom: 70px;
	font-size: 25px;
	background-color: white;
	border: 2px solid white;
	border-radius: 10px;
	color: #e32c40;
	height: 50px;
	width: 200px;
}

#register-container button:hover {
	transition: box-shadow .3s;
	cursor: pointer;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#mobile__container {
	background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('code.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#mobile__container:before{
	position:fixed;
	z-index: 300;
}

#root {
	height: 100%;
}

.footer p {
	text-align: center;
	color: white;
	padding-bottom: 10px;
	padding-top: 20px;
}

.footer {
}
